#welcome {
    height: 86.5vh;
    font-size: 5vh;
    background-color: #8601AF;
}

#welcome .menu a
{
    position: relative;
    top:5.5vh;

    padding: 2vh 5vh 2vh 5vh;

    border-style: solid;
    border-width: 2px;
    border-color: #FFF;

    text-decoration: none;
    font-weight: 600;
    color: #FFF;
    font-size:3.7vh;
    transition: background-color 0.25s;
}


#welcome .menu a:hover {
    background-color: #FEFE33;
    color: #8601AF;
}
