body{
    font-family: 'Source Sans Pro', sans-serif;
    text-align:center;

    margin:0;


}

/*Header*/
header{
    width:100vw;
    position:fixed;
    left:0;
    height: 12.5vh;
    background-color: #FF3B30;

    color:#FFF;
}

#headertext
{
    position:absolute;
    margin-top:1.2vh;
    font-size:8vh;
    left:1.5vw;
    font-weight: 300;
}


#buttons-menu
{
    position:absolute;/**/
    top:1.8vh;
    left:65vw;

    font-size:2.9vh;
    color: #FFF;



}

table /*overide defaults*/
{
    border-collapse: collapse;
	border-spacing: 0;
}

#buttons-menu a
{
    text-decoration: none;


}

#buttons-menu td
{
    font-weight: 300;
    font-size:2.9vh;
    text-align: center;
    padding-left:0.8vw;
}


#buttons-menu .button-text
{
    color:#FFF;
    /*font-weight: 400;*/
    /*margin-right:0.45vh;*/
}

#buttons-menu img
{
    height:6vh;
    width:6vh;
}


#downloadarea{


    position:absolute;
    top:3.5vh;
    right:2vw;
    font-weight: 200;
    font-size:5.7vh;
    line-height: 6vh;

}

@media (max-aspect-ratio: 16/9) {/*cool*/
    #downloadarea {
    display: none;
    }

    #main-img{
    display:none;
    }


}




#download{



    color:#FFF;

    font-weight: 600;
    text-decoration: none;

}


#welcome
{
    position:fixed;
    top:12.5vh;
    height:48.5vh;
    width:100vw;
    background-color:#FFA6A6;

    font-size:6.5vh;
    color:#FFF;
}

#welcome #main-img
{

    position:absolute;
    top:-6.5vh;
    right:21vw;
    width:60vh;
    height:60vh;
}

#welcome .content
{
    position:relative;
    top:8vh;

}

#welcome .content #maintitle
{
    font-weight: 300;
}

#welcome .menu a
{
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;
    -moz-border-radius: 15px;



    padding: 1.3vh 2.5vh 1.3vh 2.5vh;


    border-style: solid;
    border-width: 2px;
    border-color: #FFF;

    /*border-style: solid;
    border-width: 4px;
    border-color: grey;*/


    text-decoration: none;
    /*padding:2vh;*/
font-weight: 400;
    color:#FFF;
    font-size:3vh;
    transition: background-color 0.25s;
}

#welcome .menu a:hover
{
    background-color: #FF7676;
}


#fotter
{

    position:fixed;
    font-size:2.5vh;
    bottom:0%;
    padding: 0.5vh;
    background-color: #660000;
    font-weight: 200;
    color:white;
    right:0;left:0;

}

#docsbuttons
{

    font-size:3vh;


}

#docsbuttons *
{
    cursor:pointer;
    text-decoration: none;
    color:#000;
}






