body{
    font-family: 'Source Sans Pro', sans-serif;
    text-align:center;

    margin:0;

    -webkit-transform:translate3d(0,0,0);
}

/*Header*/
header{
    width:100vw;
    position:fixed;
    left:0;
    height: 15.5vh;
    background-color: #FF3B30;

    color:#FFF;
}

#headertext
{
    position:absolute;
    margin-top:3vh;
    font-size:8vh;
    left:1.5vw;
    font-weight: 200;
}



#github
{
    position:relative;/**/
    top:1.7vh;
    left:27vw;
    font-weight: 300;
    font-size:2.9vh;
    text-decoration: none;
    color: #FFF;
}

#github img
{
    height:9vh;
}



#downloadarea{


    position:absolute;
    top:1vh;
    right:1vw;
    font-weight: 200;
    font-size:4vh;


}

@media (max-width: 1200px) {/*cool*/
    #downloadarea {
    display: none;
  }
}


#download{



    color:#FFF;
    font-size: 6.5vmin;
    font-weight: 600;
    text-decoration: none;

    border-radius: 30px;
    -webkit-border-radius: 30px;
    -o-border-radius: 30px;
    -moz-border-radius: 30px;
    transition: background-color 0.2s;
}




#fotter
{

    position:fixed;
    font-size:2.5vh;
    bottom:0%;
    padding: 0.5vh;
    background-color: #333;
    font-weight: 200;
    color:white;
    right:0;left:0;

}

#docsbuttons
{

    font-size:3vh;


}

#docsbuttons *
{
    cursor:pointer;
    text-decoration: none;
    color:#000;
}






