body
{font-family: 'Source Sans Pro', sans-serif;
    padding:0;margin:0;
}
#scrolling{/*frame*/
    top:19vh;
    position:fixed;
    background-color:#C0C0C0;
    height:85%;
    width:100vw;

    overflow: hidden;


}

ul {
    /*-webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;*/

    /*Add if you want to disable the option of selecting the text while sliding*/
    -webkit-user-select: none;/*optional*/
    -moz-user-select: none;/*optional*/
    -ms-user-select: none;/*optional*/
    user-select: none;/*optional*/


    margin: 0;
    padding: 0;
    position: absolute;
    left:0;
    margin-top:7vh;
    height:73%;


    transform: none;
    -moz-transform: none;
    -webkit-transform: none;


    list-style-type: none;

    -webkit-transform-style: preserve-3d;/*YAY lag is fixed on firefox*/
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;


}

li {

    font-size:8vmin;/*cool*/
    float: left;
    width:35vw;
    min-width: 250px;
    height: 100%;
    color: #000;
    font-weight: 300;
    text-align: center;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -o-border-radius: 30px;
    -moz-border-radius: 30px;
    cursor: pointer;
    background: #FFF;
    -webkit-transform:  scale(0.95);
    -ms-transform:  scale(0.95);
    -moz-transform:  scale(0.95);
    transform: scale(0.95);
    /*transition: transform 0.5s;*/


}

#active
{/*applied to current active item*/
    -webkit-transform:  scale(1);
    -ms-transform:  scale(1);
    -moz-transform:  scale(1);
    transform: scale(1);

}
